@{
    ViewBag.Title = "Home Page";
}


<div class="row start-container">
    <div class="col-sm-7">
        <p id="intro">Amia is a task management platform that helps teams work more effectively</p>
        <p id="explained">You can keep track of your own projects, add members, share tasks and add comments.</p>

        <a class="btn btn-success font-sizer" href="/Projects/New">START NOW</a>
    </div>

    <div class="col-sm-5 col-height">
        <img src="../Content/images/working2.svg" alt="Working Team" width="500" height="600" style="margin-top: 4rem;">
    </div>
       
</div>